@using GYM_MVC.ViewModels.AccountViewModels
@model RegisterMemberFromAdmin

<div class="col-md-6">
    <label asp-for="MemberName" class="form-label"></label>
    <input asp-for="MemberName" class="form-control" />
    <span asp-validation-for="MemberName" class="text-danger"></span>
</div>

<div class="col-md-3">
    <label asp-for="BirthDate" class="form-label"></label>
    <input asp-for="BirthDate" class="form-control" />
    <span asp-validation-for="BirthDate" class="text-danger"></span>
</div>

<div class="col-md-3">
    <label asp-for="MaterialStatus" class="form-label"></label>
    <select asp-for="MaterialStatus" class="form-select"
            asp-items="@Model.MaterialStatusList" >
    </select>
</div>

<div class="col-md-3">
    <label asp-for="Weight" class="form-label"></label>
    <input asp-for="Weight" class="form-control" step="0.1" />
    <span asp-validation-for="Weight" class="text-danger"></span>
</div>

<div class="col-md-3">
    <label asp-for="Height" class="form-label"></label>
    <input asp-for="Height" class="form-control" step="0.1" />
    <span asp-validation-for="Height" class="text-danger"></span>
</div>

<div class="col-md-6">
    <label asp-for="Illnesses" class="form-label"></label>
    <input asp-for="Illnesses" class="form-control" />
</div>

<div class="col-md-6">
    <label asp-for="Injuries" class="form-label"></label>
    <input asp-for="Injuries" class="form-control" />
</div>

<div class="col-md-3">
    <label asp-for="SleepHours" class="form-label"></label>
    <input asp-for="SleepHours" class="form-control" />
</div>

<div class="col-md-9">
    <label asp-for="PhoneNumber" class="form-label"></label>
    <input asp-for="PhoneNumber" class="form-control"
           />
</div>
<div class="col-md-9">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control"
           />
</div>

<div class="col-md-9">
    <label asp-for="Password" class="form-label"></label>
    <input asp-for="Password" class="form-control"
          />
</div>
<div class="col-md-9">
    <label asp-for="ConfirmPassword" class="form-label"></label>
    <input asp-for="ConfirmPassword" class="form-control"
            />
</div>
<div class="col-md-9">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" />
</div>
<div class="col-md-6">
    <label asp-for="Image" class="form-label"></label>
    <input asp-for="Image" class="form-control" type="file" />
@*     @if (Model != null && !string.IsNullOrWhiteSpace(Model.ImagePath))
    {
        <img src="@Model.ImagePath" alt="Member Image" width="150" />
    }
 *@
</div>

<div class="col-md-3">
    <label asp-for="IsApproved" class="form-check-label d-block mb-2"></label>
    <input asp-for="IsApproved" class="form-check-input" />
</div>
