@using GYM_MVC.ViewModels
@using GYM_MVC.ViewModels.TrainerViewModels

@model List<MemberByTrainerIdVM>
@{
    ViewBag.Title = "Members List";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";

}
<div class="container-sm px-4 py-4">

	<h2 class="mb-4 text-center text-danger">Members List</h2>
	<div class="table-responsive">
	<table class="table table-bordered table-hover table-striped align-middle shadow-sm text-center">
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Maritial Status</th>
			<th>Details</th>
		</tr>

		@foreach (var member in Model)
		{
			<tr>
				<td>@member.Name</td>
				<td>@member.Age</td>
				<td>@member.MaritalStatus</td>
				<td>
					<a class="btn btn-danger " asp-controller="Trainer" asp-action="GetMemberWithWorkoutPlans" asp-route-id="@member.Id">
						View Details
					</a>
				</td>
			</tr>
		}
	</table>
	</div>

</div>