@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = null; 
}

<h2>Admin Dashboard</h2>

<div style="margin-top: 20px;">
    <ul style="list-style-type: none; padding-left: 0;">
        <li><a href="/Trainer/GetAll">🔹 Manage Trainers</a></li>
                <li><a href="/Member/Index">🔹 Manage Members</a></li>

        <li><a href="/Exercise/GetAll">🔹 Manage Exercises</a></li>
        @* <li><a href="/Schedule/GetAll">🔹 Manage Schedules</a></li>
        <li><a href="/Membership/GetAll">🔹 Manage Memberships</a></li> *@
    </ul>
</div>
